<section id="home" class="sec-light">
    <div class="home">
        <div class="author">
            <p class="author-name">Carmelo A.</p>
            <p class="author-desc1">Platform Engineer.</p>
            <p i18n="@@about-me.profession" class="author-desc2">Software engineer with a background in mathematics.</p>
        </div>
        <div class="author-image">
            <img
                class="author-img"
                src="/me-myself2.jpg"
                i18n-title="@@about-me.photo-title"
                title="This is me"
                media-simple="true"
            />
        </div>
    </div>
</section>

<section id="about" class="sec-dark">
    <h1 i18n="@@about-me.title" class="title-section">ABOUT ME</h1>
    <div class="body-about">
        <p i18n="@@about-me.introduction">
            I am a Platform Engineer at Nommon, based in Madrid. My work spans cloud platforms, infrastructure
            automation, software architecture, and internal tools that help engineering teams build and operate reliable
            systems.
        </p>
        <p i18n="@@about-me.programming-passion">
            I hold a Dual Degree in Computer Engineering and Mathematics from the University of Murcia, with a
            specialization in Software Engineering. This combination shapes an analytical, pragmatic approach to solving
            complex problems, from application design to scalable cloud infrastructure.
        </p>
        <p i18n="@@about-me.hobbies">
            I am particularly interested in building dependable software systems and cloud platforms that create
            long-term value. I enjoy collaborating across development and infrastructure, continuously learning, and
            turning complex challenges into clear, maintainable solutions.
        </p>
    </div>
</section>
