<section id="experiencia" class="sec-light">
    <h1 i18n="@@experience.title" class="title-section">EXPERIENCE</h1>
    <div class="collapsemodule">
        <div class="collapse" id="collapseTimeline">
            <ul class="timeline">
                @for (item of timeline(); track item; let odd = $odd) {
                    <li [class.timeline-inverted]="odd">
                        <div class="timeline-badge" [class.primary]="odd"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    {{ item.title }}
                                </h4>
                                <p class="timeline-subtitle">
                                    @if (item.duration[1] === undefined) {
                                        {{ item.duration[0] | date: 'MMM yyyy' }}
                                    } @else {
                                        {{ item.duration[0] | date: 'MMM yyyy' }} -
                                        {{ item.duration[1] | date: 'MMM yyyy' }}
                                    }
                                </p>
                                <p class="timeline-subsubtitle">
                                    {{ item.company }}
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    {{ item.description }}
                                </p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="experience-button">
        @if (showTimeLineLong()) {
            <a i18n="@@experience.show-less" class="collapsebutton" (click)="toggleTimeLine()">Show less...</a>
        } @else {
            <a i18n="@@experience.show-more" class="collapsebutton" (click)="toggleTimeLine()">Show more...</a>
        }
    </div>
</section>
